body {
    background: #ecf8fd;
}

#main-header {
    color: #0c343d;
    text-align : center;
}

section{
    background: #9da1aa;
}

img{
    padding: 20px;
}

#interiorFloorSection {
    text-align: center;
    margin: 10px;
}

#floorImage {
    width: 40%;
    height: 40%;
}





@media screen and (min-width: 768px){
    #sectionOne {
        display: flex;
    }

    #floorSection {
        display: flex;
    }
}
