body{
    background: url(images/waves2.jpeg);
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}

/* header */

h2,
h1{
    background: burlywood;
    border: 2px solid ivory;
    padding: 30px;
    border-radius: 20px;
}



/* table */
#table, td{
    background: burlywood;
    padding: 30px;
    border: 2px solid ivory;   
    border-radius: 20px;
}

/* Structure */
#content{
    padding: 5px;
    width: 75%;
    margin: auto;
}

/* Style */
#main a {
    margin: auto;
    width: 80%;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background: burlywood;
    text-decoration: none;
    color: black;
    border: 2px solid ivory;
    border-radius: 10px;
}

#main a:hover{
    background: darkcyan;
}

.special {
    background: burlywood;
    padding: 5px;
    border: 2px solid ivory;
}