body{
    margin: auto;
}

ul {
    list-style-type: none;
}

li{
    padding: 10px;
}
.li1 {
    border-top: solid 1px lightgray;
}

.header2 {
    margin: 0px;
}
.footerUL a,
.one a{
    color: Black;
    text-decoration: none;
    font-size: x-large;
}

.two {
    border-bottom: solid 1px lightgray;
}

.three {
    border-bottom: solid 1px lightgray;
    padding: 15px;
}
#img1 {
    padding-top:25px;
    padding-left:30px;
}
#main-header{
    padding:none;
    background: black;
    width: 100%;
}

#main-header a{
    text-decoration: none;
    color: white;
}

#bottom-header{
    padding-left: 30px;
    background: maroon;
    color: white;
}
.bottom-h2 {
    margin: 0;
    padding:7px;
}

.departmentH{
    color: maroon;
    font-weight:700;
}

.departmentH1 {
    color: maroon;
}

.p1{

}
#main-content{

}

.top-header {
    list-style-type: none;
    background: black;
    text-align: right;
    padding:none;
    padding-right: 20px;
    color: white;
    font-size: small;
}

.h2 {
    color: maroon;
}

.p{
    font-size: x-large;
}

#footer1-nav{
    background: lightgray;
    padding:20px;
    margin:none;
}

#middleFooter-nav {
    background: maroon;
    margin:none;
    padding:none;
}

/* Topography */
@media only screen and (min-width: 600px){

.columns{
    display: flex;
}

.top-header{
    display: flex;
    position:absolute;
    right: 0;
}

#main-header{
    position:relative;
}

.top-header li {
    padding-left: 10px;

}

.one{
    flex: 25%;
}

.two{
    flex: 75%;
    padding: 20px;
    border-top: solid 1px lightgray;
}

.three{
    display: flex;
}

.four {
    display: flex;
    position:absolute;
    right:0;
}

.right {
    text-align: left;
    padding-left: 10px;
}

.departmentH {
    flex:auto;
}

.footerUL {
    display: flex;
    position:absolute;
    right: 0;
}

.footer1-nav {
    position:relative;
}

.five{
    color:white;
    display:flex;
    flex:1
}

.list{
    border-top: solid 1px white;
    color:white;
    flex:1;
}


}