body {
    background: #ecf8fd;
}

#main-header {
    color: black;
    text-align : center;
}

#exercise2Div,
#exercise1Div {
    background: #9da1aa;
    display: block;
    margin-right: 100px;
    margin-left: 100px;
    padding-bottom: 400px;
    padding-top: 10px;
    margin-top: 20px;
}

.one {
    background: #0c343d;
    margin-top: 10px;
    margin-right: 45px;
    margin-left: 45px;
    padding-bottom: 350px;
}

.hide {
    display: none;
}

#topLinks li:not(:last-child)::after {
    content: "|";
    margin: 0 10px;
}

#exercise1Div {
    text-align: center;
}

#exercise2Div {
    text-align: center;
}

#soccerBall {
    margin-top: 10px;
}

#poses {
    list-style-type: none;
}

.li {
    padding-right: 30px;
}

#nav-items {
    list-style-type: none;
}



@media screen and (min-width: 768px){
    .columns {
        display: flex;
    }

    #topLinks {
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding-right: 40px;
    }

    #topLinks li:not(:last-child)::after {
        content: "|";
        margin: 0 10px;
    }

    #arrowDown {
        display:none;
    }

    #arrowUp {
        display:none;
    }

    .hide {
        display: none;
    }
}



