body{
    margin: auto;
}

ul {
    list-style-type: none;
}

li{
    padding: 10px;
}
.li1 {
    border-top: solid 1px lightgray;
}

.header2 {
    margin: 0px;
}
.footerUL a,
.one a{
    color: Black;
    text-decoration: none;
    font-size: x-large;
}

.two {
    border-bottom: solid 1px lightgray;
}

.three {
    border-bottom: solid 1px lightgray;
    padding: 15px;
}
#img1 {
    padding-top:25px;
    padding-left:30px;
}
.image7 {
    margin:auto;
    padding:10px;
}


#main-header{
    padding:none;
    background: black;
    width: 100%;
}

#main-header a{
    text-decoration: none;
    color: white;
}

#bottom-header{
    padding-left: 30px;
    background: maroon;
    color: white;
}
.bottom-h2 {
    margin: 0;
    padding:7px;
}

.departmentH{
    color: maroon;
    font-weight:700;
}

.departmentH1 {
    color: maroon;
}

.top-header {
    list-style-type: none;
    background: black;
    text-align: right;
    padding:none;
    padding-right: 20px;
    color: white;
    font-size: small;
}

.top-header a:hover{
    color:white;
    background:red;
    
}

.h2 {
    color: maroon;
}

.p{
    font-size: x-large;
}

#footer1-nav{
    background: lightgray;
    padding:20px;
    margin:none;
}



#middleFooter-nav {
    background: maroon;
    margin:none;
    padding:none;
}

.eight {
    border-left: solid 5px maroon;
    border-top: solid 1px lightgray;
    border-right: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    background: lightgray;
}

.five {
    border-left: solid 5px maroon;
    border-top: solid 1px lightgray;
    border-right: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}

.rightHeader {
    color: Gray;
    font-size:small;
    font-weight: 800;
    padding-top: 8px;
    padding-left:5px;
    margin:auto;
}
.rightHeader2{
    padding-top: 8px;
    padding-left:5px;
    color:maroon;
    font-size: larger;
    font-weight: 700;
    margin:auto;
}
.right-h2 {
    color:maroon;
    padding:10px;
    font-size: xx-large;
    font-weight:900;
    margin: 0;
}
.rightHeader3{

    color: gray;
    padding-bottom:5px;
    padding-left:5px;
    font-size: small;
    font-weight: 650px;
    margin:0;
}
.rightHeader4{
    color:maroon;
    padding: 5px;
    font-size:small;
}
.rightParagraph {
    padding-left: 5px;
}

.footerTitle{
    padding-left:50px;
    border-bottom: solid 1px white;
}

#bottomFooter {
    background: black;
    text-decoration:none;
    list-style-type:none;
    padding:none;
    margin-top:1px;
}

.ten a {
    list-style-type:none;
    text-decoration:none;
    font-size:medium;
    color:white;
}

.seven{
    font-size: x-small;

}

.bottomFooterUL a {
    font-size: small;
}

.bottomFooterUL a:hover {
    color:maroon;
}
.footerUL a:hover {
    color:white;
    background:red;
}


/* Topography */
@media only screen and (min-width: 600px){

.columns{
    display: flex;
}

.top-header{
    display: flex;
    position:absolute;
    right: 0;
}

#main-header{
    position:relative;
}

.top-header li {
    padding-left: 10px;

}

.one{
    flex: 25%;
}

.two{
    flex: 75%;
    padding: 20px;
    border-top: solid 1px lightgray;
}

.three{
    display: flex;

}

.right {
    text-align: left;
    padding-left: 10px;
}

.departmentH {
    flex:auto;
}

.footerUL {
    display: flex;
    position:absolute;
    right: 0;
}

.footer1-nav {
    position:relative;
}

.four{
    flex: 70%;
}
.nine,
.five{
    flex: 30%;
}

.six{
    flex:1;
    color:white;
}

.bottomFooterUL {
    display:flex;
}



}