body {
    background: #ecf8fd;
}

#main-header {
    color: #0c343d;
    text-align : center;
}

.hide{
    display:none;
}

.one {
    background: #9da1aa;
    text-align: center;
    padding: 30px;
}

.containerClass {
    text-align: center;
    background: #9da1aa;
    border: 1px solid #0c343d;
    margin: 0px;
    padding: 30px;
}