:root {
    --rotatePosition : 0deg;
}

body {
    background: #54A6EF;
}

#main-header {
    background: #D8D6CD;
    text-align: center;
}

#img3,
#img2,
#img1 {
    background:darkblue;
}


.one {
    background: #D8D6CD;
    text-align: center;
    margin: 10px;
}

.two {
    background: #D8D6CD;
    text-align: center;
    margin: 10px;
}

#button2 {
    transform: rotate(var(--rotatePosition));
}

.three {
    background: forestgreen;
    text-align: center;
    margin: 10px;
}

@media only screen and (min-width: 600px){
    .columns{
        display: flex;
    }

    .one {
        flex: 30%;
    }

    .two {
        flex: 30%;
    }

    .three {
        flex: 30%;
    }
}
